<div class="statisticHockey">

  <table border="1" cellspacing="0">
    <caption class="descriptionTable">
      {{ statisticsInfo?.title }}
      <p *ngIf="statisticsInfo?.titleUpTable">{{ statisticsInfo?.titleUpTable }}</p>
    </caption>
    <tr>
      <th>Позиция</th>
      <th>Команда</th>
      <th>Очки</th>
    </tr>
    <tr>
    <tr *ngFor="let card of statisticsInfo?.teamsUp">
      <td>{{ card?.position }}</td>
      <td>
        <a (click)="onClickReferense(card.id)">
          {{ card?.name }}
        </a>
      </td>
      <td>{{ card?.score }}</td>
    </tr>
  </table>

  <br>
  <br>

  <table *ngIf="statisticsInfo?.titleDownTable" border="1" cellspacing="0">
    <caption class="descriptionTable">
      {{statisticsInfo?. titleDownTable }}
    </caption>
    <tr>
      <th>Позиция</th>
      <th>Команда</th>
      <th>Очки</th>
    </tr>
    <tr>
    <tr *ngFor="let card of statisticsInfo?.teamsDown">
      <td>{{ card?.position }}</td>
      <td>
        <a (click)="onClickReferense(card.id)">
          {{ card?.name }}
        </a>
      </td>
      <td>{{ card?.score }}</td>
    </tr>
  </table>

</div>
