<div>
  <div class="container-commentary" *ngFor="let card of commentarys">
    <div class="author-commentary">
      <div>{{ card?.user }}</div>
      <div>{{ card?.datePublish }}</div>
    </div>
    <div (mouseenter)="setIsHover(card?.userId, true)">
      <p><textarea class="user-commentary" [disabled]="readonly" #textarea>{{ card?.commentary }}</textarea></p>
      <div *ngIf="getIsHover(card?.userId) && getIsNotEdit(card?.userId) && getIsCurrentUserComment(card?.userId)" class="block-edit" (click)="onClick(card?.userId)" (mouseleave)="setIsHover(card?.userId, false)">
        <p class="icon-edit"><img class="icon-edit-comment" src="../../assets/images/editIcon.png"></p>
      </div>

      <button *ngIf="getVisibleSaveButton(card?.userId)" (click)="onClickSaveComment(card?.id, textarea.value)">Сохранить</button>
    </div>
  </div>
</div>
