.content {
  margin-top: 7%;
  display: flex;
  justify-content: space-between;
}

.main {
  width: 90%;
  margin: 0 auto;
}

.articleAuthorBlock {
  width: 800px;
  height: 200px;
  display: flex;
  flex-wrap: nowrap;
}

.mainPhotoAuthor {
  width: 200px;
  height: 150px;
  margin-left: 5%;
  margin-top: 15%;
}

.concreteArticle {
  margin-top: 4%;
  width: 800px;
  height: 100%;
}

.bodyArticle {
  margin-top: 3%;
  margin-left: 2%;
}
