<div *ngIf="isClub" class="arcticles">
  <div class="articleAuthorBlock">
    <div class="imageAuthor">
      <img src="{{ team?.image }}" class="mainPhotoAuthor">
    </div>
    <div class="textArticle">
      <h1 class="headArticle">
        {{ team?.name }}
      </h1>
      <p class="bodyArticle">
        {{ team?.fullName }}
      </p>
    </div>
  </div>

  <div class="arcticles">
    <div class="concreteArticle">
      {{ team?.description }}
    </div>
  </div>
</div>

<div *ngIf="!isClub" class="arcticles">
  <div class="articleAuthorBlock">
    <div class="imageAuthor">
      <img src="{{ user?.image }}" class="mainPhotoAuthor">
    </div>
    <div class="textArticle">
      <h1 class="headArticle">
        {{ user?.name }}
      </h1>
      <p class="bodyArticle">
        {{ user?.shortDescription }}
      </p>
    </div>
  </div>

  <div [innerHTML]="user?.fullDescription"></div>
</div>
