<div class="filters">

  <div class="filter">
    <span>Дата публикации</span>
    <form [formGroup]="registerForm">
      <input class="filterDate" id="filterDate" type="date" [ngModel]="selectDate | date:'yyyy-MM-dd'"  formControlName="selectDate" (ngModelChange)="editDate($event)">
    </form>
  </div>

  <div class="filter">
    <form [formGroup]="authorForm">
      <span>Выберите автора</span>
      <select class="author" id="author" formControlName="author">
        <option [ngValue]=""></option>
        <option *ngFor="let option of allAuthors" [ngValue]="option">{{ option }}</option>
      </select>
    </form>
  </div>

  <div class="filter">
    <form [formGroup]="searchForm">
      <input class="search" id="search" type="text" formControlName="searchValue" #searchValue>
      <button (click)="searchWords(searchValue.value)">Поиск</button>
    </form>
  </div>

</div>
