<div class="filters">

  <div class="filter">
    <span>Дата публикации</span>
    <input class="filterDate" id="filterDate" type="date">
  </div>

  <div class="filter">
    <span>Выберите автора</span>
    <select class="author" id="author">
      <option value="Pushkin">Пушкин</option>
      <option value="Lermontov">Лермонтов</option>
      <option value="Bubnov">Бубнов</option>
    </select>
  </div>

  <div class="filter">
    <input class="search" id="search" type="text">
    <button>Поиск</button>
  </div>

</div>
