<div class="filters">

  <div class="filter">
    <span>Дата публикации</span>
    <input class="filterDate" id="filterDate" type="date">
  </div>

  <div class="filter">
    <form [formGroup]="authorForm">
      <span>Выберите автора</span>
      <select class="author" id="author" formControlName="author">
        <option [ngValue]=""></option>
        <option *ngFor="let option of allAuthors" [ngValue]="option">{{ option }}</option>
      </select>
    </form>
  </div>

  <div class="filter">
    <input class="search" id="search" type="text">
    <button>Поиск</button>
  </div>

</div>
