<nav class="navigationMenu">
  <div class="navigate-logo">
    <div class="logo">
      <a href="">
        <img src="../../assets/images/favicon.png">
      </a>
    </div>
    <div class="navigate">
      <div class="element-nav">
        <a (click)="onClickNavigation('football')">
          <p class="text-element-nav {{ ActiveFootball() }}">Футбол</p>
        </a>
      </div>
      <div class="element-nav">
        <a (click)="onClickNavigation('hockey')">
          <p class="text-element-nav {{ ActiveHockey() }}">Хоккей</p>
        </a>
      </div>
      <div class="element-nav">
        <a (click)="onClickNavigation('basketball')">
          <p class="text-element-nav {{ ActiveBasketball() }}">Баскетбол</p>
        </a>
      </div>
      <div class="element-nav">
        <a (click)="onClickNavigation('authors')">
          <p class="text-element-nav {{ ActiveAuthors() }}">Авторы</p>
        </a>
      </div>
      <div class="element-nav">
        <a (click)="onClickNavigation('authorization')">
          <p class="text-element-nav {{ ActiveAuthorization() }}">{{ getNameSignIn() }}</p>
        </a>
      </div>
    </div>
  </div>
</nav>
