<nav class="navigationMenu">
  <div class="navigate-logo">
    <div class="logo">
      <a>
        <img src="../../assets/images/favicon.png">
      </a>
    </div>
    <div class="navigate">
      <div class="element-nav">
        <a>
          <p class="text-element-nav active">Футбол</p>
        </a>
      </div>
      <div class="element-nav">
        <a>
          <p class="text-element-nav">Хоккей</p>
        </a>
      </div>
      <div class="element-nav">
        <a>
          <p class="text-element-nav">Баскетбол</p>
        </a>
      </div>
      <div class="element-nav">
        <a>
          <p class="text-element-nav">Авторы</p>
        </a>
      </div>
      <div class="element-nav">
        <a>
          <p class="text-element-nav">Войти</p>
        </a>
      </div>
    </div>
  </div>
</nav>

<div class="filters">
  <div class="filter">
    <span>Дата публикации</span>
    <input class="filterDate" id="filterDate" type="date">
  </div>

  <div class="filter">
    <span>Выберите автора</span>
    <select class="author" id="author">
      <option value="Pushkin">Пушкин</option>
      <option value="Lermontov">Лермонтов</option>
      <option value="Bubnov">Бубнов</option>
    </select>
  </div>

  <div class="filter">
    <input class="search" id="search" type="text">
    <button>Поиск</button>
  </div>

</div>
